<!doctype html>
<!--[if IE 7]>
<html class="no-js ie ie7" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="no-js ie ie8" lang="ru"><![endif]-->
<!--[if IE 9]>
<html class="no-js ie ie9" lang="ru"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta charset="[% opt.charset || 'windows-1251' %]"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Untitled Document</title>
    <link href="[% opt.files %]/css/styles.css" rel="stylesheet"/>
    <script src="[% opt.files %]js/modernizr-2.6.2.js"></script>
    <!--[if lt IE 9]>
    <script src="[% opt.files %]/js/jquery-1.10.2.min.js"></script><![endif]-->
    <!--[if gt IE 8]><!-->
    <script src="[% opt.files %]/js/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script src="[% opt.files %]/js/jmodal.js"></script>
    <script src="[% opt.files %]/js/jrequired.js"></script>
    <script src="[% opt.files %]/js/jinit.js"></script>
</head>
<body class="left">
  <header class="header"></header>
  <section class="content">
    <div class="logo"><a class="link" href="#"></a></div>
    <div class="slogan">Разработка эффективных сайтов</div>
    [% MACRO BOX BLOCK %]
    [% import( content ) %]
    <div class="box_1">
        <div class="h1">[% header %]Ы</div>
        <ul class="s list_1">
          [% FOREACH LIST ; NEXT IF disabled == 1 %]
            <li class="item">               
                [% IF conf_url %]<a class="settings" href="[% conf_url %]" target="main"></a>[% END %]
                <a class="link" href="[% url %]" target="main">
                   <span class="ico"><img class="img" src="[% opt.files %]/images/[% icon %]" alt=""/></span>
                   <span class="text">[%- header -%]</span>
                   [%+ IF type == 'admin_tree.pl' || hint -%]<span class="hind">([% hint || 'перемещение' %])</span>[%- END +%]
                </a>
            </li>
          [% END %]
        </ul>
    </div>
    [% END %]

    [% INCLUDE BOX(content=item) FOREACH item IN BOXES %]

    </div>
</section>

<footer class="footer"></footer>
</body>
</html>
